<html>
    <head>
        <title>Edit Book</title>
        <link href="/css/style.css" rel="stylesheet" type"text/css">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable All Category Book Reading">
	  <meta name="keywords" content="Read Online, Save and Download, Unlimited Books">
  	<meta name="author" content="Brad Traversy">
       </head>
    <body>
        <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">EgReader.com</span> Read Online Nonstop</h1>
        </div>
        <nav>
          <ul>
            <li ><a href="/books/all">All Books</a></li>
            <li ><a href="/books/new">Create Book</a></li>
            <li class="current"><a href="/books/edit">Edit Books</a></li>
            </ul>
        </nav>
      </div>
    </header>
        <center>
        <h1>Edit Book</h1>
        <div>Name:
        <textarea  rows="2" cols="30" id="name"> <%=request.book.name%></textarea>
        <!--input type="text" id="name" value=<%=request.book.name%> /> -->
        </div>
        <br>
        <div>Image:
            <textarea  rows="3" cols="40" id="img"> <%=request.book.img%></textarea>
            
        </div>
        <br>
         <div>PDF Link:
            <textarea  rows="3" cols="40" id="pdf"> <%=request.book.pdf%></textarea>
            
        </div>
        <br>
        <div>Author Name:
            <textarea  rows="3" cols="30" id="auth_name"> <%=request.book.auth_name%></textarea>
            
        </div>
        <br>
        <div>Description:
            <textarea   rows="3" cols="40" id="description"> <%=request.book.description%></textarea>
            
        </div>
        <br>
        
        <button id="submit">SUBMIT</button>
        
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
        var bookID= <%- JSON.stringify(request.book._id) %>;
            var book={};
            $("#name").change(function(){
                book.name=$("#name").val();
            });
            $("#img").change(function(){
                book.img=$("#img").val();
            });
             $("#pdf").change(function(){
                book.pdf=$("#pdf").val();
            });
             $("#auth_name").change(function(){
                book.auth_name=$("#auth_name").val();
            });
             $("#description").change(function(){
                book.description=$("#description").val();
            });
          /*   $("#price").change(function(){
                book.price=$("#price").val();
            });
             $("#quantity").change(function(e){
                book.quantity=$("#quantity").val();
                console.log(e);
            }); */
             $("#submit").click(function(){
                 console.log(book);
              $.ajax({
                  method:"PUT",
                  url:"/api/books/edit/"+bookID,
                  data:book
              }).done(function(response){
                  console.log(response);
                  window.location.replace("/books/"+response._id);
              }).fail(function(response){
                   $("#error").text(JSON.parse(response.responseText).message);
                   console.log(JSON.parse(response.responseText).message);
                 // window.location.replace("/books/"+response._id);
                    }); 
                    });
        </script>
        </center>
        <br> 
        <footer>
      <p>EgReader.com, Copyright &copy; 2017</p>
    </footer>
    </body>
</html>
