<html>
    <head>
        <title>Books  </title> 
      <body>
          <h1> Books  </h1> 
          <% console.log(request.book) %>
          <h2> Name: <%= request.book.name %> </h2>
           <h4> Image: <%= request.book.img %> </h4>
           <h4> Description: <%= request.book.description %> </h4>
           <h4>Quantity: <%= request.book.quantity%></h4>
             <h4>Price: <%= request.book.price%></h4>
         
          </body>  
        
    </head>
    
    
    
</html>